[submodule "bootc"]
	path = bootc
	url = git@github.com:bootc-dev/bootc.git
[submodule "bootupd"]
	path = bootupd
	url = git@github.com:bensku/bootupd.git
[submodule "foomuuri"]
	path = foomuuri
	url = git@github.com:FoobarOy/foomuuri.git
